@using idn.AnPhu.Biz.Models

@model Locations

@{
    var title = "Tạo mới quận, huyện";
    var list_city = ViewBag.Listcity as List<LocationDiscount>;
}



<div class="page-content">
    <div class="page-header">Tạo mới quận, huyện</div>
    <div class="row">
        <a id="btn_submit_save" class="btn btn-sm btn-success" href="javascript:;" title="@S("Save")">
            <span style="font-size:15px"><i class="fa fa-save"></i> @S("Save")</span>
        </a>
    </div>
    @using (Html.BeginForm("Create", "Location", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row" style="padding-top:50px">
            <div class="col-lg-10 col-sm-10 col-xs-12">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"> Tiêu quận, huyện <span style="color:red">*</span> </label>

                        <div class="col-sm-8">
                            <input type="text" id="LocationName" name="LocationName" class="col-xs-10 col-sm-5 col-lg-10 VideoCategoryTitle" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right">Danh mục thành phố </label>
                        <div class="col-sm-6">
                            <select id="LocationDiscountId" name="LocationDiscountId" class="col-xs-12 col-sm-6 ParentId">
                                <option value=""> -- Tất cả --</option>
                                @if (list_city != null && list_city.Count > 0)
                                {
                                    foreach (var item in list_city)
                                    {
                                        <option value=" @MvcHtmlString.Create(CUtils.StrValue(item.LocationDiscountId))"> @MvcHtmlString.Create(CUtils.StrValue(item.LocationDiscountName))</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"> Ghi chú  </label>
                        <div class=" col-sm-8">
                            <textarea class=" form-control limited autosize-transition" id="Note" name="Note" maxlength="150" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 52px;"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right">Trạng thái</label>
                        <label class="col-sm-8">
                            <input type="checkbox" id="IsActive" name="IsActive" class="ace ace-switch IsActive" value="true" />
                            <span class="lbl" style="margin-top: 5px;"></span>
                            <input type="hidden" name="IsActive" value="false" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
@*    @Html.Partial("Script");*@
    <script type="text/javascript">
          var parents = new Array();
        parents.push('@Url.ActionLocalized("Index", "Location", new {area = "Auth", LocationDiscountId = Model.LocationDiscountId })');
        parents.push('');
        var parentsText = new Array();
        parentsText.push('@MvcHtmlString.Create("Danh sách quận huyện")');
        parentsText.push("@MvcHtmlString.Create(title)");
        setAdminCurrentTag(parents, parentsText);
    </script>

    <script type="text/javascript">
        setAdminCurrentUrl('@Url.ActionLocalized("Create", "Location", new {area = "Auth", LocationDiscountId = Model.LocationDiscountId })');
    </script>
    <script type="text/javascript">
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);

        });
    </script>

    <script type="text/javascript">
        $('#btn_submit_save').click(function () {
         @*   var check = CheckForm();
            if (check) {*@
                $("#manageForm").attr("action", '@Url.ActionLocalized("Create")').submit();
         @*   }*@

        });
    </script>
}

