@using idn.AnPhu.Biz.Models

@model Slide
@{
    var title = "Tạo mới Slide";
}



<div class="page-content">
    <div class="page-header">Tạo mới slide</div>
    <div class="row">
        <a id="btn_submit_save" class="btn btn-sm btn-success" href="javascript:;" title="@S("Save")">
            <span style="font-size:15px"><i class="fa fa-save"></i> @S("Save")</span>
        </a>
    </div>
    @using (Html.BeginForm("Create", "Slide", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row" style="padding-top:50px">
            <div class="col-sm-10 col-lg-10 col-xs-12">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"> Mô tả <span style="color:red">*</span> </label>

                        <div class="col-sm-8">
                            <input type="text" id="SlideBannerDes" name="SlideBannerDes" class="col-xs-10 col-sm-5 col-lg-10 VideoCategoryTitle" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"> Ảnh  </label>

                        <div class="col-sm-8">
                            @*<input type="text" id="NewsImage" name="NewsImage" class="col-xs-10 col-sm-5 col-lg-10 VideoCategoryTitle" />*@
                            @Html.TextBoxFor(model => model.SlideBannerImage)
                            @Html.Partial("FileManagerButton", "SlideBannerImage")
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right">Trạng thái</label>
                        <label class="col-sm-8">
                            <input type="checkbox" id="IsActive" name="IsActive" class="ace ace-switch IsActive" value="true" />
                            <span class="lbl" style="margin-top: 5px;"></span>
                            <input type="hidden" name="IsActive" value="false" />
                        </label>
                    </div>

                </div>
            </div>
        </div>
    }
</div>



@section Scripts{
   @* <script type="text/javascript">
          var parents = new Array();
        parents.push('@Url.ActionLocalized("Index", "LocationDiscount", new {area = "Auth"})');
        parents.push('');
        var parentsText = new Array();
        parentsText.push('@MvcHtmlString.Create("Danh sách thành phố")');
        parentsText.push("@MvcHtmlString.Create(title)");
        setAdminCurrentTag(parents, parentsText);
    </script>*@

@*    <script type="text/javascript">
        setAdminCurrentUrl('@Url.ActionLocalized("Create", "LocationDiscount", new {area = "Auth"})');
    </script>*@
    <script type="text/javascript">
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);

        });
    </script>

    <script type="text/javascript">
        $('#btn_submit_save').click(function () {
         @*   var check = CheckForm();
            if (check) {*@
                $("#manageForm").attr("action", '@Url.ActionLocalized("Create")').submit();
         @*   }*@

        });
    </script>

}